<div data-task_id="<%= task.id %>" class="task priority_<%= task.priority %> completed_<%= task.completed %>">
  <p>
    <span class="title"><%= link_to task.title, task_path(task) %></span>
    <%= link_to "Edit", edit_task_path(task), class: 'action'  %>
    <%= link_to "Delete", task, method: :delete, data:{confirm:"Delete?"}, class: 'action'  %>
  </p>
</div>
