<div class='row text-center'>
  <div class='text-center hero-head h1'>
     <h1>todos</h1>
  </div>
</div>
<div class='row content-task'>
  <div class='row col-md-12 row-text'>
    <%= form_for @task, method: :post, remote: true do |f| %>
      <div class='col-md-9 border-0'>
        <%= f.text_field :title, placeholder: 'What needs to be done?', class: 'border-0 input-text', autocomplete: 'off', id: 'input-text' %>
      </div>
      <div class='col-md-3'>
        <%= f.text_field :completed_to, class: 'border-0 input-data datepicker', autocomplete: 'off' %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
  <% if @tasks.empty? %>
    <span class='text-warning'>There are no tasks!</span>
  <% else %>
    <div class='row col-md-12' id='container'>
      <%= render partial: 'task', locals: { tasks: @tasks } %>
    </div>
    <div class='row w-100 text-center pad-top-8'>
      <div class='col-md-3 d-flex'>
        <p class='text-left mar-left-5' id='num'><%= pluralize @active_counte, 'item' %> left</p>
      </div>
      <div class='col-md-6'>
        <%= link_to 'all', root_path, :'data-attribute' => 'btn-status-', class: 'btn btn-sm btn-outline-secondary disabled', remote: true %>
        <%= link_to 'Active', root_path(@tasks, status: 0), :'data-attribute' => 'btn-status-0', class: 'btn btn-sm btn-outline-secondary', remote: true %>
        <%= link_to 'Completed', root_path(@tasks, status: 1), :'data-attribute' => 'btn-status-1', class: 'btn btn-sm btn-outline-secondary', remote: true %>
      </div>
      <div class='col-md-3'>
        <%= link_to 'Clear completed', clear_completed_tasks_path, remote: true, method: :delete, class: 'badge badge-light' %>
      </div>
    </div>
  <% end %>
</div>
<div class='line1'></div>
<div class='line2'></div>
