<div class="container">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Title</th>
        <th>description</th>
        <th>completed to</th>
        <th>priority</th>
        <th>Updated at</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>
              <%= @task.title%>
            </strong>
          </td>
          <td class="text-info">
            <%= @task.description %>
          </td>
          <td class="text-info">
            <%= @task.completed_to %>
          </td>
          <td class="text-success">
            <%= @task.priority %>
          </td>
          <td class="text-success">
            <%= @task.updated_at %>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="modal-footer">
    <%= link_to 'Back', root_path, class: 'btn btn-primary'%><%= link_to 'Edit', edit_task_path, class: 'btn btn-primary'%>
  </div>
</div>